$primary-color: #eeeeee;
$secondary-color: #404040;
$orange-color: #f56969;
$light-grey: #e5e5e5;
$shadow-color: #858585;

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid'; // fas
@import '~@fortawesome/fontawesome-free/scss/regular'; // far
@import '~@fortawesome/fontawesome-free/scss/brands'; // fab

.bkg-orange {
	background-color: $orange-color;
}

.bkg-primary {
	background-color: $primary-color;
}

.bkg-secondary {
	background-color: $secondary-color;
}

.bkg-lightgrey {
	background-color: $light-grey;
}

.roundButton {
	border: none;
	color: white;
	width: 3rem;
	height: 3rem;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	border-radius: 50%;
	padding: 0.7rem;
	box-shadow: 0 0 0.1rem $shadow-color;
}
.roundButton::before {
	content: attr(text);
}

.shadowed {
	box-shadow: 0 0 0.5rem $shadow-color;
}

.blackPill {
	border-radius: 10rem;
	background-color: black;
	// padding: 0.5rem;
	padding: 0.3rem 0.8rem;
	margin: 1rem;
	color: $primary-color;

	display: flex;
	font-size: 1.1rem;
}
.pillSEK {
	position: relative;
	margin-left: 0.2rem;
	font-size: 0.65rem;
}

.hero {
	position: relative;
	overflow: hidden;
	box-shadow: 0 0 2rem $shadow-color;
}
.heroImage {
	width: 100%;
}
.heroText {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 3rem;
	color: $primary-color;
}

.twoWrappers {
	display: flex;

	//Aktiveras med mediaquery
	// flex-flow: wrap;

	// justify-content: space-evenly;
	align-items: stretch;
	gap: 1rem;
	overflow: hidden;
	margin-top: 1rem;

	text-align: left;
}

.column {
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	text-align: left;
	gap: 1rem;
	align-items: center;
}
.icon {
	display: absolute;
	z-index: 2999;
}

.Field {
	width: calc(100% - 4px);
	min-height: 2rem;
	background-color: $light-grey;
	color: $secondary-color;
	text-indent: 1rem;
	padding: 0;
	margin: 0;
	border-radius: 4px;
	cursor: pointer;

	display: block;
	// border: 1px solid #ccc;
	// box-sizing: border-box;
}

.Field:hover {
	background-color: white;
}
.Field:focus {
	background-color: white;
}

.userCart {
	display: flex;
	flex-direction: column;
	// background-color: blueviolet;

	h1,
	h2,
	h3 {
		margin: 0;
		padding: 0;
		text-align: left;
	}

	h1 {
		font-size: 1.5rem;
	}
	h2 {
		font-size: 1rem;
	}
	h3 {
		font-size: 0.5rem;
	}
}

.cartProducts {
	display: flex;
	flex-direction: column;
	max-height: 40rem;
	overflow: auto;
	justify-content: space-between;
	// width: 100%;
}

.cartProduct {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	// background-color: green;
	// gap: 0.5rem;
	background-color: $light-grey;
	border-radius: 10px;
}

.cartProductImage {
	width: 3rem;
	height: 3rem;
	background: $primary-color;
	margin: 0.5rem;
	border-radius: 10px;
}

.cartProductDetails {
	display: flex;
	flex-direction: column;
	// background-color: yellow;
	min-width: 10rem;
	padding: 1rem;
	text-align: left;
}

.cartProductPrice {
	display: flex;
	flex-direction: row;
	// background-color: blue;
	padding: 1rem;
}
.cartProductPrice h1 {
	align-self: flex-start;
}

.cartTotals {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
}

hr {
	width: 100%;
	color: $primary-color;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.linedTitle {
	display: flex;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
	hr {
		margin-left: 1rem;
	}
	padding-bottom: 0.5rem;
}

.productsContainer {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
	padding-top: 1rem;
	justify-content: center;
}

.card {
	display: flex;
	background-color: white;
	width: 12rem;
	min-height: 15rem;
	flex-direction: column;
	// padding: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 1rem;
	justify-content: space-between;
	&:hover {
		margin: 1rem;
	}
	&:active {
		margin: 2rem;
	}

	transition: margin ease 0.2s;
	flex-grow: 1;
}

.cardHeader {
	display: flex;
	justify-content: space-between;
	/* background-color: green; */

	font-size: 2rem;
	align-items: center;
}
.cardSubTitle {
	display: flex;
	/* margin: 1rem; */
	/* background-color: pink; */
}

.cardImage {
	width: 100%;
}

.cardContent {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
}

// For the price in cards
.move {
	position: absolute;
	margin: 1rem;
	margin-left: 1rem;
	z-index: 0;
}

// FOR MODAL POPUP ONLY------------------------

.modalProduct {
	display: flex;
	position: fixed;

	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.modalPic {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	max-width: 20rem;
	min-width: 10rem;
	background-color: $primary-color;
}

.modalInfo {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 20rem;
	background-color: $primary-color;
	padding: 1rem;
}
.modalImage {
	width: 100%;
}
.modalTitle {
	font-size: 1.3rem;
	text-align: left;
}
.modalSubtitle {
	font-size: 0.8rem;
	text-align: left;
}
.modalTextInfo {
	font-size: 0.7rem;
	text-align: left;
}
.modalCash {
	font-size: 1.3rem;
	text-align: left;
}

//-----------------Popup
.popoverBag {
	position: relative;
	background-color: $primary-color;
	box-shadow: 0 0 0.5rem $shadow-color;
	// margin: 0;
	padding: 1rem;
}

.bagSpace {
	position: static;
}
.overlayBag {
	position: absolute;
	z-index: 1;
}

.triangle-up {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 20px solid $primary-color;
	transform: translate(50%, 0);
	z-index: 3;
	padding-top: 0.5rem;
}

/////////////////--------Buttons
.modifiers {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	color: $secondary-color;
	gap: 0.1rem;
	// padding: 1rem; förstör basket
	.fas {
		// width: 1.5rem;
		// height: 1.5rem;
		// background-color: $secondary-color;
		border-radius: 50%;
		text-align: center;
		padding: 0.1rem;
		font-size: 2rem;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: background-color 1s ease;

		&:hover {
			background-color: $shadow-color;
		}
		&:active {
			transition: background-color 0.01s ease-out;
			background-color: $orange-color;
		}
	}
}

//_-----------------Only Vue transitions

.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.1s ease;
}
.fade-enter, .fade-leave-to
  /* .component-fade-leave-active below version 2.1.8 */ {
	opacity: 0;
}
//----------------

.list-enter-active,
.list-leave-active {
	transition: all 1s;
}
.list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
	opacity: 0;
	transform: translateY(30px);
}

///---------------------------------------
