@import 'imports.scss';

.roundButton {
	border: none;
	color: white;
	width: 3rem;
	height: 3rem;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	border-radius: 50%;
	padding: 0.7rem;
	box-shadow: 0 0 0.1rem $shadow-color;
}
.roundButton::before {
	content: attr(text);
}

.shadowed {
	box-shadow: 0 0 0.5rem $shadow-color;
}

.blackPill {
	border-radius: 10rem;
	background-color: black;
	padding: 0.3rem 0.8rem;
	margin: 1rem;
	color: $primary-color;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.1rem;
	transition: background-color 0.1s ease;
	&:hover {
		background-color: $secondary-color;
	}
	outline: none;
}

.bagSvg {
	padding: 0.5rem;
}

.pillSEK {
	align-self: flex-start;
	position: relative;
	margin-left: 0.2rem;
	font-size: 0.65rem;
}

.hero {
	position: relative;
	overflow: hidden;
	box-shadow: 0 0 2rem $shadow-color;
}
.heroImage {
	width: 100%;
}
.heroText {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 3rem;
	color: $primary-color;
}

.column {
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	text-align: left;
	gap: 1rem;
	align-items: center;
}
.icon {
	display: absolute;
	z-index: 2999;
}

.Field {
	width: calc(100%);
	min-height: 2rem;
	background-color: $light-grey;
	color: $secondary-color;
	// text-indent: 1rem;
	padding: 1rem;
	box-sizing: border-box;
	margin: 0;
	border-radius: 4px;
	cursor: pointer;

	display: block;
	// border: 1px solid #ccc;
	// box-sizing: border-box;
}

.Field:hover {
	background-color: white;
}
.Field:focus {
	background-color: white;
}

.userCart {
	display: flex;
	flex-direction: column;

	h1,
	h2,
	h3 {
		margin: 0;
		padding: 0;
		text-align: left;
	}

	h1 {
		font-size: 1.5rem;
		font-weight: bold;
		color: black;
	}
	h2 {
		font-size: 1rem;
		font-weight: bold;
		color: $secondary-color;
	}
	h3 {
		font-size: 0.5rem;
		font-weight: bold;
		color: $shadow-color;
	}
}

.cartProducts {
	display: flex;
	flex-direction: column;
	max-height: 40rem;
	overflow: auto;
	justify-content: space-between;
}

.cartProduct {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	// background-color: green;
	// gap: 0.5rem;
	background-color: $light-grey;
	border-radius: 10px;
	overflow: hidden;
}

.cartProductImage {
	width: 3rem;
	height: 100%;
	max-height: 5rem;
	background: $primary-color;
	align-self: center;
	border-radius: 10px;
	margin-left: 1rem;
}

.cartProductDetails {
	display: flex;
	flex-direction: column;
	// background-color: yellow;
	min-width: 10rem;
	padding: 1rem;
	text-align: left;
}

.cartProductPrice {
	display: flex;
	flex-direction: row;
	// background-color: blue;
	padding: 1rem;
}
.cartProductPrice h1 {
	align-self: flex-start;
}

.cartTotals {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
}

hr {
	width: 100%;
	color: $primary-color;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.linedTitle {
	display: flex;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
	hr {
		margin-left: 1rem;
	}
	padding-bottom: 0.5rem;
}

.productsContainer {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
	padding-top: 1rem;
	justify-content: center;
}

.card {
	display: flex;
	background-color: white;
	width: 12rem;
	min-height: 15rem;
	flex-direction: column;
	// padding: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 1rem;
	justify-content: space-between;
	border-radius: 10px;
	transition: all 0.3s ease;
	outline: none;
	&:hover {
		box-shadow: 0 0 2rem $shadow-color;
	}
	&:focus {
		background-color: $light-grey;
		box-shadow: 0 0 2rem white;
	}
	&::selection {
		background-color: $light-grey;
		box-shadow: 0 0 2rem white;
	}

	flex-grow: 1;
	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.cardHeader {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: flex-start;

	font-size: 2rem;
	text-transform: uppercase;

	max-height: 10rem;
	overflow: hidden;
	font-weight: bold;
	color: black;
}
.cardHeader span {
	overflow: hidden;
	// white-space: nowrap;
	// text-overflow: ellipsis;
	text-align: left;
}
.cardSubTitle {
	display: flex;
	/* margin: 1rem; */
	/* background-color: pink; */
	font-weight: bold;
	color: $shadow-color;
}

.cardImage {
	width: 100%;
}
img {
	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.cardContent {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
}

// For the price in cards
.move {
	position: absolute;
	margin: 1rem;
	margin-left: 1rem;
	z-index: 0;
}

// FOR MODAL POPUP ONLY------------------------

.modalProduct {
	display: flex;
	position: fixed;

	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	max-height: 45rem;
	background-color: $primary-color;
	overflow: auto;
	flex-direction: row;
}

.modalPic {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	max-width: 20rem;
	min-width: 10rem;
	padding-top: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
	background-color: $primary-color;
}

.modalInfo {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 20rem;
	background-color: $primary-color;
	padding: 1rem;
}
.modalImage {
	width: 100%;
}
.modalTitle {
	font-size: 1.3rem;
	text-align: left;
	font-weight: bold;
	color: black;
	text-transform: uppercase;
}
.modalSubtitle {
	font-size: 0.8rem;
	text-align: left;
	font-weight: bold;
	color: $shadow-color;
}
.modalTextInfo {
	font-size: 0.7rem;
	text-align: left;
	color: $shadow-color;
}
.modalCash {
	font-size: 1.3rem;
	text-align: left;
	font-weight: bold;
	color: black;
}

//-----------------Popup
.popoverBag {
	position: relative;
	background-color: $primary-color;
	box-shadow: 0 0 0.5rem $shadow-color;
	// margin: 0;
	padding: 1rem;
	min-width: 13rem;
}

.bagSpace {
	position: static;
}
.overlayBag {
	position: absolute;
	z-index: 1;
}

.triangle-up {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 20px solid $primary-color;
	transform: translate(50%, 0);
	z-index: 4;
	padding-top: 0.5rem;
}

/////////////////--------Buttons
.modifiers {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	color: $secondary-color;
	gap: 0.1rem;
	margin: 0.5rem;

	// padding: 1rem; förstör basket
	.fas {
		// width: 1.5rem;
		// height: 1.5rem;
		// background-color: $secondary-color;
		border-radius: 50%;
		text-align: center;
		// padding: 1rem;

		font-size: 2rem;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: background-color 1s ease;

		&:hover {
			background-color: $shadow-color;
		}
		&:active {
			transition: background-color 0.01s ease-out;
			background-color: $orange-color;
		}
	}
}

@media screen and (max-width: 750px) {
	.modalProduct {
		flex-direction: column;
	}
}
