$primary-color: #eeeeee;
$secondary-color: #404040;
$orange-color: #f56969;
$light-grey: #e5e5e5;
$shadow-color:#858585;

.bkg-orange {
	background-color: $orange-color;
}

.bkg-primary {
	background-color: $primary-color;
}

.bkg-secondary {
	background-color: $secondary-color;
}

.bkg-lightgrey {
	background-color: $light-grey;
}

.roundButton {
	border: none;
	color: white;
	width: 3rem;
	height: 3rem;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	border-radius: 50%;
	padding: 0.7rem;
	box-shadow: 0 0 0.1rem $shadow-color;

}
.roundButton::before {
	content: attr(text);
}
